$desktop-width: 1440px;
$mobile-width: 375px;

$card-half-height: 70px;
$circle-diameter: 15px;

$gray-blue: hsl(237, 18%, 59%);
$soft-red: hsl(345, 95%, 68%);

$white: hsl(0, 0%, 100%);
$dark-desaturated-blue: hsl(236, 21%, 26%);
$very-dark-blue: hsl(235, 16%, 14%);
$black-blue: hsl(234, 17%, 12%);
$shadow-color: #12131b;

$font-size: 14px;
