html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-size: $font-size;
  font-family: "Alata", sans-serif;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.ai-c {
  align-items: center;
}

.jc-sb {
  justify-content: space-between;
}

.jc-c {
  justify-content: center;
}

.container {
  width: 70%;
  margin: 0 auto;
}

a {
  color: $white;
  text-decoration: none;
}
